doctype html
html
	head
		include global_stylesheets
		link(rel="stylesheet", href="/error.css")
	body
		#main
			.fof
				p.display-2.font-weight-bold Maybe Error 404
				p.display-4 I tried so hard, and looked so far...
				p.display-4 In the end, It didn't even matter...
				a.display-4(href="/") USE THE HEARTHSTONE (GO HOME)

		include global_scripts
