
#FooterContainer.container-fluid.foot.px-0.pb-0
    footer.bg-dark
        .container-fluid.text-center
            .text-center.py-3(style="color: #8b8b8b")
                | © 2020-2020 Copyright: Pan-der
include notification
