
#FooterContainer.container-fluid.foot.px-0.pb-0
    footer.mbg-white
        .container-fluid.text-center
            .text-center.py-3
                | © 2020-2020 Copyright: Pan-der
include notification
