title Pan-der | #{title}
meta(name='viewport', charset="utf8mb4", content='width=device-width, initial-scale=1, shrink-to-fit=no')
link(rel='favicon', href='https://res.cloudinary.com/ddrrwygt1/image/upload/v1594120076/logo_phhyl7.ico')
link(rel='stylesheet', href='/colours.css')
link(rel='stylesheet', href='/navbar.css')
link(rel='stylesheet', href='/button.css')
link(rel='stylesheet', href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css')
link(rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous")
link(href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css", rel="stylesheet", integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN", crossorigin="anonymous")
