doctype html
html
	head
		include global_stylesheets
		link(rel='stylesheet', href='/pass_reset.css')
	body
		include navbar.pug

		.container.mx-auto

			.card.my-5.mx-auto(style='max-width:500px')
				.card-body
					block content
						h1 Reset Password
						hr
						form#userPassReset(name="resetPW",action='', method='POST', onsubmit='return false')
							.form-group
								label(for='password') New Password:
								input#Password.form-control(type='password' placeholder='Enter new password' name='Password')
								p#passError.errorMsg

							button#submit.btn.btn-success.btn-block.btn-lg(type='button', value=code onclick='resetPass(this.value)' disabled='true') Reset
						p#error.mt-3

		include footer

		include global_scripts
		script(src="/pw.js")
