doctype html
html
	head
		include global_stylesheets
		link(rel='stylesheet', href='/pwreset.css')
	body
		include navbar

		.container.mx-auto.my-auto
			h1.mt-white.text-center.mt-5.display-3#heading Fine... Judgement aside...
			br
			br
			br
			br
			br
			.card.my-auto.mx-auto(style='max-width:500px')
				.card-body.recommend-card.text-center
					block content
						h1 Reset Password
						hr
						form#userPassReset(name="resetPW",action='', method='POST', onsubmit='return false')
							.form-group
								label(for='password') New Password:
								input#userPassword.form-control(type='text' placeholder='Enter new password' name='userPassword')
								p#passError.errorMsg

							button#submit.btn.btn-success.mx-auto.btn-lg(type='button', value=code onclick='resetPass(this.value)' disabled='true') Reset
						p#error.mt-3

		include footer

		include global_scripts
		script(src="/pw.js")