doctype html
html
	head
		include global_stylesheets
		link(rel='stylesheet', href='/pass_reset.css')
		link(rel='stylesheet', href='/sweetalert2.css')
	body
		include navbar.pug

		.container.mx-auto
			h1.mt-white.text-center.mt-5.display-3#heading Hey... I aint Judgin'

			.card.my-5.mx-auto(style='max-width:500px')
				.card-body
					block content.text-center
						h1 Reset Password
						small#passwordHelpBlock.form-text.text-muted
							| A password reset link will be emailed to you.
						hr
						form#userPassReset(name="resetPW",action='', method='POST', onsubmit="return false")
							.form-group
								label(for='email') Email:
								input#userEmail.form-control(type='email' placeholder='Enter Email' name='userEmail')
								p#emailError.errorMsg

							button#submit.btn.btn-success.btn-block.btn-lg(type='button', value='Reset' onclick='sendEmail()', disabled='true') Reset
						p#error.mt-3


		include footer

		include global_scripts
		script(src="/pw.js")
