doctype html
html
	head
		title Pander | #{title}
		include header_items.pug
		link(rel='stylesheet', href='/search.css')
	body
		include navbar.pug
		
		.container.mx-auto
			h1.text-center.my-3.mt-white.display-3#heading Search
			.row
				.col
					.card.mx-auto(style='max-width:500px')
						.card-body
							block content
								h1 Search Criteria
								hr

								form#search(name="search", action='', method='POST' novalidate)
									.form-group
										label(for='distance') Distance:
										input#searchDistance.form-control(type='text' placeholder='Enter a Maximum Distance' name='Location' required)

									.form-group
										label(for='interests') Interests:
										input#searchInterests.form-control(type='text' placeholder='Enter Interests Tags' name='Interests' required)
									
									.form-group
										label(for='age') Age Range:
										.row.ml-1
											br
											input#yes.form-control.mx-2.w-25(type='text' placeholder='' name='ageFrom' required)

											p.mx-2 to
											input#yes.form-control.mx-2.w-25(type='text' placeholder='' name='ageTo' required)
									
									.form-group
										label(for='fame') Fame Range:
										.row.ml-1
											br
											input#yes.form-control.mx-2.w-25(type='text' placeholder='' name='fameFrom' required)

											p.mx-2 to
											input#yes.form-control.mx-2.w-25(type='text' placeholder='' name='fameTo' required)

									button#SearchBtn.btn.btn-success.btn-block.btn-lg(type='submit', value='search') Search

		include footer.pug

		include js_includes.pug