doctype html
html
	head
		include global_stylesheets
		link(rel='stylesheet', href='/views.css')
	body
		include navbar.pug
		
		h1.text-center.my-3.mt-white.display-3#heading Profile Views
		.container(style='max-width: 900px;min-width:360px;')
			.card.recommend-card
				h4.mx-auto.mt-2 Your Notifications:
				hr
				each val in userList
					.card-body.recommend-card
						.row.mx-auto
							p
								i.fa.fa-user.mx-2.text-secondary
								a.toast-link(href='/user/profile/'+val.viewer) #{val.viewer}
								|  stal-- er... Viewed your profile 
								i.fa.fa-eye

	include footer
	
	include global_scripts