body {
    background-color: var(--background);
    color: var(--color);
    background-image: linear-gradient(to bottom, rgba(0, 23, 155, 0.52), rgba(139, 0, 133, 0.73)), url(https://res.cloudinary.com/ddrrwygt1/image/upload/v1591010239/panda_ciu1mf.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    min-height: 100vh;
    position: relative;
    padding-bottom: 90px;
    overflow-x: hidden;
}

h1 {
    color: #a7a7a7;
}

.foot {
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    overflow: hidden;
    width: 100vw;
    height: 56px;
}

.links {
    color: rgb(177, 177, 177);
    ;
    text-decoration: none;
}

.links:hover {
    color: rgb(255, 255, 255);
    text-decoration: none;
}

a.logreg {
    color: white;
    text-decoration: none;
    font-size: 5vw;
    text-align: center;
}

a.logreg:hover {
    color: black;
    text-decoration: none;
}

#notifys {
    position: fixed;
    bottom: 43px;
    right: 20px;
}

.mbg-blue {
    background-color: #1cb3c8;
}

.mbg-red {
    background-color: #ff4949;
}

.mbg-dark-red {
    background-color: #c10000;
}

.mbg-light-grey {
    background-color: #dedede;
}

.mbg-grey {
    background-color: #738598;
}

.mbg-white {
    background-color: #eeeeee;
}

.mbg-purple {
    background-color: #3c415e;
}

.mt-blue {
    color: #1cb3c8;
}

.mt-red {
    background-color: #ff4949;
}

.mt-dark-red {
    background-color: #c10000;
}

.mt-light-grey {
    background-color: #dedede;
}

.mt-grey {
    color: #738598;
}

.mt-white {
    color: #eeeeee;
}

.mt-purple {
    color: #3c415e;
}

.blue {
    color: blue;
}

.yellow {
    color: rgb(255, 196, 0);
}

.pink {
    color: rgb(255, 143, 161);
}

.red {
    color: red
}

.purple {
    color: rgb(174, 0, 255);
}

.btn-success {
    color: #fff !important;
    background-color: #28a745 !important;
    border-color: #28a745 !important;
    width: 25% !important;
}

.btn-danger {
    color: #fff !important;
    background-color: #a72828 !important;
    border-color: #a72828 !important;
}

.btn-warning {
    color: #fff !important;
    background-color: #ffae00 !important;
    border-color: #ffae00 !important;
}

.btn-info {
    color: rgb(255, 255, 255) !important;
    background-color: #00a2ff !important;
    border-color: #00a2ff !important;
}

.badge-danger .badge-danger :hover {
    color: #fff;
    background-color: #dc3545 !important;
}

@media screen and (max-width: 575.98px) {
    #heading {
        font-size: 2.5rem;
    }
    #notifys {
        bottom: 43px;
        right: 15px;
    }
}

@media screen and (min-width: 576px) and (max-width: 991.98px) {
    #heading {
        font-size: 3.5rem;
    }
}

.recommend-card {
    background-color: #343a40 !important;
    color: #8b8b8b !important;
}

.toast-header {
    background-color: #4d5257 !important;
    color: #a3a3a3 !important;
    border: none !important;
    z-index: 5;
}

.toast-body {
    background-color: #414950 !important;
    color: #b4b4b4 !important;
    border: none !important;
    z-index: 5;
}

.toast-link {
    color: #ffffff !important;
    font-weight: bolder;
    z-index: 5;
}

.title {
    color: #a3a3a3 !important;
}