#BtnLike,
#BtnDislike,
#BtnBlock,
#BtnReport {
    width: 25%;
}

@media screen and (max-width: 767.98px) {
    #BtnLike,
    #BtnDislike,
    #BtnBlock,
    #BtnReport {
        width: 25%;
        font-size: 2vw;
    }
}