input[type=text],
input[type=email] {
    width: 60%;
    padding: 10px;
    margin: 0 auto;
    color: #8b8b8b !important;
    background: #4c5055 !important;
    border: none;
}

input[type=text] :active,
input[type=email] :active {
    width: 60%;
    padding: 10px;
    margin: 0 auto;
    color: #8b8b8b !important;
    background: #4c5055 !important;
    border: none;
}

.errorMsg {
    color: red;
}