input[type=text],
input[type=password],
input[type=email] {
    width: 60%;
    padding: 10px;
    margin: 0 auto;
    color: #8b8b8b !important;
    background: #4c5055 !important;
    border: none;
}

input[type=text] :active,
input[type=password] :active,
input[type=email] :active {
    width: 60%;
    padding: 10px;
    margin: 0 auto;
    color: #8b8b8b !important;
    background: #4c5055 !important;
    border: none;
}

.req {
    color: rgb(255, 255, 255) !important;
    cursor: context-menu;
}

.links {
    text-decoration: none;
    font-weight: bold;
}

.links:hover {
    text-decoration: none;
    font-weight: bold;
}

.errorMsg {
    color: red;
    font-weight: bold;
}

label {
    font-weight: bold;
}